# Chat API URLs
REACT_APP_CHAT_API_URL=https://apichatbot.woopsa.app/api/v1
REACT_APP_CHAT_SERVER_URL=https://apichatbot.woopsa.app

# Recommendation API URL
REACT_APP_RECOMMENDER_API_URL=https://apibytogether.woopsa.app
REACT_APP_RECOMMENDER_API_KEY=secret-api-key
